node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
data-postgres
.DS_Store
*.log
coverage/
dist/
build/
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.tmp
